/* add your CSS here */
.interest {
	font-style: italic;
}

img {
    border: groove;
    border-radius: 4px;
    padding: 0px;
    width: 300px;
}

li span {
	font-weight: bold;
}

ul {
	list-style-type: none;
	padding-left: 10px;
}

body {
	border-style: outset;
	width: 350px;
	/*color:grey;*/

}

body div {
	background-color: #ef9a9a;
}

#info {
	border-style: groove;
	margin: 10px;
}

h3 {
	margin-left: 20px;
	font-size: 28px;

}

#caty {
	margin-left: 11px;
}

p {
	padding: 10px;
}

